<app-stepper-component #cdkStepper [linear]="isLinear" selectedIndex="">
  <cdk-step [stepControl]="formInfo">
    <ng-template cdkStepLabel>
      <div class="flex items-center">
        <span
          class="w-8 h-8 rounded-full flex items-center font-semibold justify-center text-sm border border-alabaster text-alabaster"
          [ngClass]="
            cdkStepper.selectedIndex === 0
              ? 'bg-pastel-blue text-marine-blue border-none'
              : ''
          "
        >
          1
        </span>
        <div class="flex flex-col ml-3">
          <span class="text-cool-gray font-semibold text-[11px]">STEP 1</span>
          <span class="font-semibold text-alabaster text-xs tracking-widest"
            >YOUR INFO</span
          >
        </div>
      </div>
    </ng-template>
    <form
      class="pt-10 pb-4 pr-10 flex flex-col h-full"
      (ngSubmit)="onSubmit(formInfo)"
      [formGroup]="formInfo"
    >
      <div class="">
        <h2 class="text-marine-blue font-bold text-3xl">Personal Info</h2>
        <p class="text text-cool-gray font-[500] mt-1">
          Please provide your name, email address, and phone number.
        </p>
      </div>
      <div class="flex flex-col mt-9 justify-between h-full" id="form-group">
        <div>
          <div class="flex flex-col">
            <label
              for="name"
              class="font-medium text-[15px] text-marine-blue mb-1"
              >Name</label
            >
            <input
              type="text"
              name="name"
              id="name"
              placeholder="e.g. Stephen king"
              class="border-2 h-[54px] px-3 rounded-md duration-500 tracking-normal placeholder:text-cool-gray font-semibold text-marine-blue focus:border-marine-blue"
              formControlName="name"
              required
            />
          </div>
          <div class="flex flex-col mt-4">
            <label
              for="email"
              class="font-medium text-[15px] text-marine-blue mb-1"
              >Email Address</label
            >
            <input
              type="email"
              name="email"
              id="email"
              placeholder="e.g. Stephenking@lorem.com"
              class="border-2 h-[54px] px-3 rounded-md duration-500 tracking-normal placeholder:text-cool-gray font-semibold text-marine-blue focus:border-marine-blue"
              formControlName="email"
              required
            />
          </div>
          <div class="flex flex-col mt-4">
            <label
              for="phone"
              class="font-medium text-[15px] text-marine-blue mb-1"
              >Phone Number</label
            >
            <input
              type="tel"
              name="phone"
              id="phone"
              placeholder="e.g. +1 234 567 890"
              class="border-2 h-[54px] px-3 rounded-md duration-500 tracking-normal placeholder:text-cool-gray font-semibold text-marine-blue focus:border-marine-blue"
              formControlName="phone"
              required
            />
          </div>
        </div>
        <div class="self-end">
          <button
            class="bg-marine-blue text-magnolia font-semibold h-12 w-32 rounded-lg"
            (click)="cdkStepper.next()"
            [ngClass]="!formPlans.valid ? 'opacity-50 cursor-not-allowed' : ''"
            [disabled]="!formPlans.valid"
            type="button"
          >
            Next step
          </button>
        </div>
      </div>
    </form>
  </cdk-step>
  <!-- step 2 -->
  <cdk-step [stepControl]="formPlans">
    <ng-template cdkStepLabel>
      <div class="flex items-center mt-7">
        <span
          class="w-8 h-8 rounded-full flex items-center font-semibold justify-center text-sm border border-alabaster text-alabaster"
          [ngClass]="
            cdkStepper.selectedIndex === 1
              ? 'bg-pastel-blue text-marine-blue border-none'
              : ''
          "
        >
          2
        </span>
        <div class="flex flex-col ml-3">
          <span class="text-cool-gray font-semibold text-[11px]">STEP 2</span>
          <span class="font-bold text-alabaster text-xs tracking-widest"
            >SELECT PLAN</span
          >
        </div>
      </div>
    </ng-template>
    <form
      id="selectPlan"
      class="pt-10 pb-4 pr-10 flex flex-col h-full"
      [formGroup]="formPlans"
    >
      <div>
        <h2 class="text-marine-blue font-bold text-3xl">Select Your Plan</h2>
        <p class="text text-cool-gray font-[500] mt-1">
          You have the option of yearly or monthly billing.
        </p>
      </div>
      <div class="flex justify-between flex-col h-full">
        <div class="flex flex-col mt-8">
          <div
            class="flex justify-between w-full h-full"
            *ngIf="formPlans.value.duration == 'Monthly'; else yearly"
          >
            <!-- map plans -->
            <div
              *ngFor="let planMonthly of plansDataMonthly"
              class="w-4/12 h-32 lg:h-40 mr-3"
            >
              <app-radio
                [img]="planMonthly.img"
                [title]="planMonthly.title"
                [price]="planMonthly.price"
                [value]="planMonthly.title"
                formControlName="plans"
              ></app-radio>
            </div>
          </div>

          <ng-template #yearly>
            <div class="flex justify-between w-full h-full">
              <div
                *ngFor="let planYearly of plansDataYearly"
                class="w-4/12 h-32 lg:h-44 mr-3"
              >
                <app-radio
                  [img]="planYearly.img"
                  [title]="planYearly.title"
                  [duration]="planYearly.duration"
                  [discount]="planYearly.discount!!"
                  [price]="planYearly.price"
                  [value]="planYearly.title"
                  formControlName="plans"
                ></app-radio>
              </div>
            </div>
          </ng-template>

          <div
            class="bg-magnolia h-[58px] w-full flex items-center justify-center mt-6 rounded-md"
          >
            <app-switch formControlName="duration"></app-switch>
          </div>
        </div>
        <!-- button -->
        <div class="flex justify-between items-center">
          <button
            class="text-cool-gray font-bold rounded-lg"
            (click)="cdkStepper.previous()"
            type="button"
          >
            Go Back
          </button>
          <button
            class="bg-marine-blue text-magnolia font-semibold h-12 w-32 rounded-lg"
            (click)="cdkStepper.next()"
            [ngClass]="!formPlans.valid ? 'opacity-50 cursor-not-allowed' : ''"
            [disabled]="!formPlans.valid"
            type="button"
          >
            Next Step
          </button>
        </div>
      </div>
    </form>
  </cdk-step>
  <!-- step 3 -->
  <cdk-step [stepControl]="formAddOns">
    <ng-template cdkStepLabel>
      <div class="flex items-center mt-7">
        <span
          class="w-8 h-8 rounded-full flex items-center font-semibold justify-center text-sm border border-alabaster text-alabaster"
          [ngClass]="
            cdkStepper.selectedIndex === 2
              ? 'bg-pastel-blue text-marine-blue border-none'
              : ''
          "
        >
          3
        </span>
        <div class="flex flex-col ml-3">
          <span class="text-cool-gray font-semibold text-[11px]">STEP 2</span>
          <span class="font-semibold text-alabaster text-xs tracking-widest"
            >ADD-ONS</span
          >
        </div>
      </div>
    </ng-template>
    <form
      id="add-ons"
      class="pt-10 pb-4 pr-10 flex flex-col flex-1 h-full"
      [formGroup]="formAddOns"
    >
      <div>
        <h2 class="text-marine-blue font-bold text-3xl">Pick Add-ons</h2>
        <p class="text text-cool-gray font-[500] mt-1">
          Add-ons help enhance your gaming experinece.
        </p>
      </div>
      <div class="flex flex-col justify-between h-full flex-1">
        <div class="flex-1 h-full flex flex-col">
          <div
            class="flex flex-col mt-10"
            formGroupName="addOns"
            *ngIf="formPlans.value.duration == 'Monthly'; else yearlyAddOns"
          >
            <app-addons
              class="mt-4 {{ i == 0 && 'mt-0' }}"
              *ngFor="let addon of addOnsData; index as i"
              [addonsData]="addon"
              [formControlName]="addon.controlName"
            ></app-addons>
          </div>
          <ng-template
            #yearlyAddOns
            class="flex flex-col mt-10"
            formGroupName="addOns"
          >
            <app-addons
              class="mt-4 {{ i == 0 && 'mt-0' }}"
              *ngFor="let addon of addOnsDataYearly; index as i"
              [addonsData]="addon"
              [formControlName]="addon.controlName"
            ></app-addons>
          </ng-template>
        </div>
        <!-- button -->
        <div class="flex justify-between items-center">
          <button
            class="text-cool-gray font-bold rounded-lg"
            (click)="cdkStepper.previous()"
            type="button"
          >
            Go Back
          </button>
          <button
            class="bg-marine-blue text-magnolia font-semibold h-12 w-32 rounded-lg"
            (click)="cdkStepper.next()"
            [ngClass]="!formPlans.valid ? 'opacity-50 cursor-not-allowed' : ''"
            [disabled]="!formPlans.valid"
            type="button"
          >
            Next Step
          </button>
        </div>
      </div>
    </form>
  </cdk-step>
  <!-- step 4 -->
  <cdk-step [stepControl]="formSummary">
    <ng-template cdkStepLabel>
      <div class="flex items-center mt-7">
        <span
          class="w-8 h-8 rounded-full flex items-center font-semibold justify-center text-sm border border-alabaster text-alabaster"
          [ngClass]="
            cdkStepper.selectedIndex === 3
              ? 'bg-pastel-blue text-marine-blue border-none'
              : ''
          "
        >
          4
        </span>
        <div class="flex flex-col ml-3">
          <span class="text-cool-gray font-semibold text-[11px]">STEP 4</span>
          <span class="font-semibold text-alabaster text-xs tracking-widest"
            >SUMMARY</span
          >
        </div>
      </div>
    </ng-template>
    <form
      id="summary"
      class="pt-10 pb-4 pr-10 flex flex-col h-full"
      (ngSubmit)="onSubmit(formSummary)"
      [formGroup]="formSummary"
      *ngIf="!isSubmitted; else congrats"
    >
      <div class="">
        <h2 class="text-marine-blue font-bold text-3xl">Finishing up</h2>
        <p class="text text-cool-gray font-[500] mt-1">
          Double-checks everything looks OK before confirming.
        </p>
      </div>
      <div class="flex flex-col mt-6 justify-between h-full">
        <div class="flex-1 flex flex-col">
          <div class="bg-magnolia p-6 rounded-md">
            <!-- plans and duration -->
            <div
              class="border-b border-cool-gray flex justify-between items-center pb-5 mb-5"
            >
              <div class="flex flex-col font-semibold text-marine-blue">
                {{ formPlans.controls.plans.value }}({{
                  formPlans.controls.duration.value
                }})
                <button
                  class="text-start underline text-cool-gray font-medium"
                  (click)="handleChange()"
                  type="button"
                >
                  Change
                </button>
              </div>
              <span class="font-semibold text-marine-blue">
                {{ updatePlanValue(formPlans.controls.plans.value!) }}
              </span>
            </div>
            <!-- addons -->
            <div class="flex flex-col gap-3">
              <div
                *ngFor="let addon of updateAddOnsValue()"
                class="flex justify-between"
              >
                <p class="font-medium text-cool-gray">
                  {{ addon.title }}
                </p>
                <p class="font-medium text-marine-blue">
                  {{ addon.price }}
                </p>
              </div>
            </div>
          </div>
          <!-- total -->
          <div class="px-4 flex justify-between items-center mt-6">
            <span class="font-medium text-cool-gray"
              >Total ({{
                isYearlyOrMonthly() ? "per Year" : "per Month"
              }})</span
            >
            <span class="font-bold text-2xl text-purplish-blue">{{
              calculateTotal(formPlans.controls.plans.value!)
            }}</span>
          </div>
        </div>
        <div class="flex justify-between items-center">
          <button
            class="text-cool-gray font-bold rounded-lg"
            (click)="cdkStepper.previous()"
            type="button"
          >
            Go Back
          </button>
          <button
            class="bg-purplish-blue text-magnolia font-semibold h-12 w-32 rounded-lg"
            (click)="cdkStepper.next()"
            [ngClass]="!formPlans.valid ? 'opacity-50 cursor-not-allowed' : ''"
            [disabled]="!formPlans.valid"
            type="submit"
          >
            Confirm
          </button>
        </div>
      </div>
    </form>
    <ng-template #congrats>
      <div class="flex flex-col items-center h-full py-40 pr-12">
        <img
          src="../../../assets/images/icon-thank-you.svg"
          alt="thank you"
          class="w-20 h-20"
        />
        <h3 class="mt-7 text-4xl font-semibold text-marine-blue">Thank you!</h3>
        <p class="text-center font-medium text-cool-gray mt-4 text-lg">
          Thanks for confirming your subscription! we hope you have fun using
          our platform. if you ever need support, please feel free to email us
          at richardebrain20@gmail.com
        </p>
      </div>
    </ng-template>
  </cdk-step>
</app-stepper-component>
