<section
  class="bg-white h-full rounded-lg md:w-[90%] lg:w-[76%] xl:w-[67%] 2xl:w-[54%] mx-auto p-4 flex gap-10"
>
  <aside class="md:w-[35%] lg:w-[30%] xl:w-[25%] 2xl:w-[34%]">
    <ol
      class="bg-[url('/assets/images/bg-sidebar-desktop.svg')] bg-cover bg-no-repeat h-full rounded-xl px-6 lg:px-8 xl:px-9 py-10"
    >
      <ng-container *ngFor="let step of steps; let i = index">
        <li>
          <ng-container
            *ngIf="step.stepLabel; else showLabelText"
            [ngTemplateOutlet]="step.stepLabel.template"
          >
          </ng-container>
          <ng-template #showLabelText>
            {{ step.label }}
          </ng-template>
        </li>
      </ng-container>
    </ol>
  </aside>

  <div class="flex-1 ml-10">
    <ng-container
      [ngTemplateOutlet]="selected ? selected.content : null"
    ></ng-container>
  </div>
</section>
