<div
  class="bg-[url('/assets/images/bg-sidebar-desktop.svg')] bg-cover bg-no-repeat h-full rounded-xl px-12 py-10"
>
  <div class="flex items-center">
    <span
      class="w-7 h-7 rounded-full flex items-center font-semibold justify-center text-sm border border-alabaster text-alabaster"
    >
      1
    </span>
    <div class="flex flex-col ml-3">
      <span class="text-cool-gray font-semibold text-[11px]">STEP 1</span>
      <span class="font-semibold text-alabaster text-xs tracking-widest">YOUR INFO</span>
    </div>
  </div>

  <div class="flex items-center mt-5">
    <span
      class="w-7 h-7 rounded-full flex items-center font-semibold justify-center text-sm border border-alabaster text-alabaster"
    >
      2
    </span>
    <div class="flex flex-col ml-3">
      <span class="text-cool-gray font-semibold text-[11px]">STEP 2</span>
      <span class="font-bold text-alabaster text-xs tracking-widest">SELECT PLAN</span>
    </div>
  </div>

  <div class="flex items-center mt-5">
    <span
      class="w-7 h-7 rounded-full  flex items-center font-semibold justify-center text-sm border border-alabaster text-alabaster"
    >
      3
    </span>
    <div class="flex flex-col ml-3">
      <span class="text-cool-gray font-semibold text-[11px]">STEP 2</span>
      <span class="font-semibold text-alabaster text-xs tracking-widest">ADD-ONS</span>
    </div>
  </div>

  <div class="flex items- mt-5">
    <span
      class="w-7 h-7 rounded-full flex items-center font-semibold justify-center text-sm border border-alabaster text-alabaster"
    >
      4
    </span>
    <div class="flex flex-col ml-3">
      <span class="text-cool-gray font-semibold text-[11px]">STEP 4</span>
      <span class="font-semibold text-alabaster text-xs tracking-widest">SUMMARY</span>
    </div>
  </div>
</div>
